<p>stock-visualize works!</p>
<!-- <div *ngIf="stockData">
  <h2>Stock Data</h2>

  <div *ngIf="stockChartData">
    <canvas baseChart
            [data]="stockChartData"
            [options]="stockChartOptions"
            [type]="'line'">
    </canvas>
  </div>
</div>

<div *ngIf="!stockData">
  <p>Loading...</p>
</div> -->


<div *ngIf="stockData">
  <h2>{{ companySymbol }} Stock Visualization</h2>
  <canvas
    *ngIf="stockChartData"
    baseChart
    [data]="stockChartData"
    [options]="stockChartOptions"
    [type]="'line'">
  </canvas>
</div>

<div *ngIf="!stockData">
  <p>Loading stock data...</p>
</div>
