<div class="flex h-screen">
  <!-- Left Section -->
  <div class="flex-1 flex flex-col justify-center items-center px-4 md:px-8 bg-white">
    <a href="/" class="mb-4 mt-2">
      <img src="/assets/logo.png" alt="Logo" class="w-70 h-auto" />
    </a>
    <div class="text-center mb-8 mt-10">
      <p class="text-4xl font-extrabold">Sign in</p>
      <p class="text-2xl font-semibold text-gray-400 mt-3">
        Welcome back to Soft Stock!
      </p>
    </div>
    <form
      (ngSubmit)="onSubmit()"
      class="w-full max-w-md flex flex-col gap-4"
      #loginForm="ngForm"
    >
      <label for="email" class="text-xl flex flex-col font-bold">
        Email
        <input
          type="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
          required
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"
          title="Please enter a valid email address"
          class="mt-1 p-2 border border-gray-300 rounded-md font-medium outline-none focus:border-blue-500"
        />
      </label>
      <label for="password" class="text-xl flex flex-col font-bold">
        Password
        <div class="relative">
          <input
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="password"
            required
            class="mt-1 w-full p-2 border border-gray-300 rounded-md pr-10 font-medium outline-none focus:border-blue-500"
          />
        </div>
      </label>
      <p *ngIf="message" class="text-red-500">{{ message }}</p>
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="mt-4 px-4 py-3 font-semibold text-white bg-gradient-to-r from-primary to-primary_light rounded-md hover:opacity-90"
      >
        Sign in
      </button>
    </form>
    <div class="mt-4">
      <p class="font-semibold">
        Don't have an account?
        <a routerLink="/register" class="cursor-pointer underline text-blue-800">Sign up</a>
      </p>
    </div>
  </div>

  <!-- Right Section -->
  <div class="hidden lg:flex flex-1">
    <img
      src="/assets/signIn.jpg"
      alt="Sign In"
      class="object-cover rounded-l-[50px] w-full h-full"
    />
  </div>
</div>
