<div id="news" class="container mx-auto p-6">
  <div *ngIf="isLoading" class="text-center text-gray-500">
    Loading news...
  </div>
  <div *ngIf="errorMessage" class="text-center text-red-500">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isLoading && !errorMessage">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
     
      <div
  class="flex-col justify-between news-card bg-white shadow-lg rounded-lg overflow-hidden cursor-pointer transform hover:scale-105 transition duration-300"
  *ngFor="let article of newsData"
>
  <img
    [src]="article.image_url"
    alt="News Image"
    class="w-full h-48 object-cover"
    (click)="navigateToPrediction(article)"

  />
  <div class="bg-blue-50 flex flex-col justify-between h-48 overflow-hidden">
    <p class="font-semibold text-md text-gray-800 mb-4 mt-4">
      {{ article.title }}
    </p>
    <div class="flex flex-row justify-end gap-1 mb-4 mr-2">
      <p class="text-xs text-gray-600">{{ article.source_name }} - </p>
      <p class="text-xs text-gray-600">{{ article.pubDate }}</p>
    </div>
    <a
      [href]="article.link"
      class=" h-10 rounded-b-lg text-center bg-gradient-to-r
          from-primary to-primary_light text-white flex
          items-center justify-center"
    >
      Read More
    </a>
  </div>
</div>


    </div>
  </div>
</div>