/* General Styles */
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.news-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.news-card:hover {
  transform: scale(1.02);
}

.news-left,
.news-right {
  padding: 20px;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.news-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-content {
  margin-top: 10px;
}

.news-content h3 {
  font-size: 18px;
  font-weight: bold;
}

.news-content p {
  font-size: 14px;
  color: #555;
}

.news-content a {
  font-size: 14px;
  color: #009dff;
  text-decoration: none;
}

.news-right {
  display: none; /* Initially hidden */
  opacity: 0;
}

.news-right.slide-right {
  display: block;
  opacity: 1;
  transform: translateX(0); /* Slide from right */
}

.news-left.slide-left {
  transform: translateX(-100%); /* Slide news content to the left */
}

/* Prediction section styling */
.prediction-section {
  padding-top: 20px;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: #ff0000;
}

.loading {
  font-weight: bold;
}
